@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --softblue: hsl(231, 69%, 60%);
    --softred: hsl(0, 94%, 66%); 
    --grayishblue: hsl(229, 8%, 60%);
    --verydarkblue: hsl(229, 31%, 21%);
    --fontfamily:  'Rubik', sans-serif;
    --regularfontweight: 400;
    --mediumfontweight: 500;
    --padding: 0 40px;
    --largepadding: 0 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

svg {
    cursor: pointer;
}

/* Header */
header {
    width: 100%;
    position: relative;
}

.mobile-nav, .thedrop {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav {
    padding: var(--padding);
}

.mobile-nav svg, .mobile-nav img {
    transition: all .5s linear;
}

nav {
    height: 100vh;
    width: 100%;
    background:  rgba(37, 43, 70, .9);
    padding: var(--padding);
    padding-bottom: 10vh;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 10;
    transition: all .5s linear;
}

nav ul {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav ul li {
    text-transform: uppercase;
    list-style-type: none;
    border-top: 1px solid var(--grayishblue);
    width: 100%;
    height: 70px;
    display: grid;
    place-items: center;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 70%;
    display: grid;
    place-items: center;
    border-radius: 5px;
    letter-spacing: 1px;

    transition: all;
}

nav ul li a:hover {
    border: 2px solid white;
}

.icons, .footer-icons {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons svg:nth-child(1), .footer-icons svg:nth-child(1) {
    margin-right: 30px;
}

.icons svg, .footer-icons svg {
    fill: #fff;
    transition: all;
}

.icons svg:hover, .footer-icons svg:hover {
    fill: var(--softred);
}
/* ==== */

/* Section one */

.s-one {
    display: grid;
    width: 100%;
    padding: var(--padding);
    margin-top: 1rem;
}

.s-oneimg, .s-twoimg {
    height: 390px;
    position: relative;
}

.pattern {
    width: 80%;
    height: 250px;
    background: var(--softblue);
    position: absolute;
    bottom: 0px;
    right: -40px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    z-index: -1;
}

.s-one img, .thetab img {
    width: 100%;
    height: 310px
}

.s-onesimple, .s-twoinfo {
    text-align: center;
    margin-top: 3rem;
}

.s-onesimple h1, 
.features h2, 
.s-twoinfo h2, 
.download h2,
.faq h2 {
    margin-bottom: 1.5rem;
    color: var(--verydarkblue);
}

.s-onesimple p, 
.features p, 
.s-twoinfo p, 
.download p,
.faq p,
.thefaqs p {
    color: var(--grayishblue);
    line-height: 150%;
    margin-bottom: 1.5rem;
    font-size: 90%;
}

.s-onelinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s-onelinks a{
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 80%;
    font-weight: var(--mediumfontweight);
    border-radius: 5px
}

.s-onelinks a:nth-child(1) {
    background: var(--softblue);
    color: white;
    margin-right: 10px;
}

.s-onelinks a:nth-child(1):hover {
    background: white;
    color: var(--softblue);
    border: 2px solid var(--softblue);
}

.s-onelinks a:nth-child(2) {
    background:hsl(230, 15%, 92%);
    color: var(--verydarkblue);
}

.s-onelinks a:nth-child(2):hover {
    background: white;
    border: 2px solid var(--verydarkblue);
}
/* ========= */

/* features */

.features {
    text-align: center;
    margin-top: 3rem;
    padding: var(--padding);
}

/* ======== */

/* Tabs */

.s-two {
    display: none;
}

.s-two.active {
    display: grid;
}

.tab-btn.active {
    color: var(--verydarkblue);
    border-bottom: 2px solid var(--softred)
}

.tab-more {
    display: none;
}

.thetab {
    padding: var(--padding)
}

.tab-article {
    display: grid;
    margin-bottom: 1rem;
}

.tab-article div {
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--grayishblue)
}

.tab-article div:nth-child(1) {
    border-top: 1px solid var(--grayishblue);
}

.tab-btn {
    height: 100%;
    background: transparent;
    border: none;
    color: var(--grayishblue);
    cursor: pointer;
    outline: none;
    transition: all;
}

.tab-btn:hover {
    border-bottom: 3px solid var(--softred);
    color: var(--softred);
}

.tab-pattern {
    width: 80%;
    height: 250px;
    background: var(--softblue);
    position: absolute;
    bottom: 0px;
    left: -40px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    z-index: -1;
}

/* ==== */

/* Download section */

.thedownloads {
    padding: var(--padding);
    text-align: center;
}

.download-grid {
    display: grid;
    margin-bottom: 2rem;
}

.download-info {
    padding: 0 20px;
    margin-bottom: 2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 5px 6px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 5px 5px rgba(0, 0, 0, 0.12);
;
}

.download-details {
    margin-bottom: 3rem;
}

.download-details img {
    margin: 2rem 0;
}

.download-details h3 {
    margin-bottom: 1rem;
    color: var(--verydarkblue);
}

.download-details p {
    color: var(--grayishblue);
    font-size: 90%;
}

.install {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.install a {
    text-decoration: none;
    text-transform: capitalize;
    background: var(--softblue);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.install a:hover, .more-info:hover {
    color: var(--softblue);
    border: 2px solid var(--softblue);
    background: transparent;
}

.dots {
    width: 100%;
}

/* ================ */

/* FAQs */

.faq {
    width: 100%;
    padding: var(--padding);
    text-align: center;
    margin-bottom: 2rem;
}

.question {
    border-bottom: 1px solid var(--grayishblue);
    width: 100%;
}

.thefaqs {
    padding: var(--padding);
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.question-title > p {
    color: var(--verydarkblue);
    font-weight: var(--mediumfontweight);
    margin-bottom: 0;
    
}

.question-title > button {
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.question-title > button > span > svg {
    stroke: #5267DF;
    transition: all .5s ease-in-out;
}

.texts {
    display: none;
}

.show-text .texts {
    display: block;
}

.question-title > button > span >.newsvg {
    transform: rotateX(180deg);
    stroke: var(--softred);
    transition: all .5s ease-in-out;
}

.more-info {
    display: grid;
    place-items: center;
    margin-top: 2rem;
    text-decoration: none;
    background: var(--softblue);
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 5px;
}
/* ==== */

/* The form */

.theform {
    padding: var(--padding);
    background: var(--softblue);
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theform > p {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.theform h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: var(--regularfontweight);
}

form {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input::placeholder {
    color: var(--grayishblue);
}

.input-area {
    margin-bottom: 1rem;
}

form button {
    height: 40px;
    width: 100%;
    background: var(--softred);
    color: white;
    border: none;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-weight: var(--mediumfontweight);
}

form button:hover {
    color: var(--softred);
    border: 2px solid var(--softred);
    background: white;
}

.email-error {
    display: none;
    background: var(--softred);
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 2px;
}
/* ======== */

/* Footer */

footer {
    background: var(--verydarkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    text-align: center;
}

footer img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
    
}

footer ul li {
    margin: 2rem 0;
}

footer ul li a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

footer ul li a:hover {
    color: var(--softred)
}
/* ====== */

@media screen and (min-width: 768px) {
    .mobile-nav, #close, .icons {
        display: none;
    }

    #close {
        display: none;
    }

    header {
        padding: 0 30px;
    }

    nav {
        height: 10vh;
        background: white;
        padding: 0px;
        position: static;
        display: flex;
    }

    .thedrop {
        flex: 1;
    }

    nav ul {
        flex: 1;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li {
        border-top: none;
        width: auto;
    }

    nav ul li a {
        width: 95px;
        height: auto;
        font-size: 70%;
        padding: 10px 15px;
        color: var(--verydarkblue);
        font-weight: var(--mediumfontweight);
    }

    #login {
        background: var(--softred);
        color: white; 
    }

    #login:hover {
        border: 2px solid var(--softred);
        background: white;
        color: var(--softred)
    }

    nav ul li a:hover {
        border: none;
        color: var(--softred)
    }

    .s-one, .s-two {
        grid-template-columns: 50% 2fr;
        grid-column-gap: 10px;
    }

    .s-one img, .thetab img {
        height: 250px
    }

    .s-onesimple, .s-oneimg, .s-twoinfo,.s-twoimg {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        justify-content: center;
    }

    .s-onesimple h1 {
        font-size: 35px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .s-oneimg {
        grid-column: 3/2;
    }

    .s-onesimple {
        grid-row: 1/2;
        margin-top: 0;
    }

    .features {
        text-align: center;
        margin-top: 3rem;
        padding: 0 100px;
    }

    .features h2, .s-twoinfo h2 {
        font-size: 25px;
        font-weight: 500;
    }

    .tab-article {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 100px;
    }

    .tab-article div:nth-child(1) {
        border-top: none;
    }

    .tab-more {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background: var(--softblue);
        color: white;
        padding: 0 10px;
        border-radius: 5px;
        transition: all;
    }

    .tab-more:hover {
        border: 2px solid var(--softblue);
        color: var(--softblue);
        background: transparent;
    }

    .s-twoinfo {
        margin-top: 0;
    }

    .thedownloads {
        margin-top: 2rem;
    }

    .download-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    .download-info {
        margin-bottom: 0rem;
    }

    .download-grid > div:nth-child(1) {
        margin-bottom: 4rem;
    }

    .download-grid > div:nth-child(2) {
        margin: 2rem 0;
    }

    .download-grid > div:nth-child(3) {
        margin-top: 4rem;
    }

    form {
        flex-direction: row;
        padding: 0 6rem;
    }

    .input-area {
        flex: 2.5;
        margin-right: 2rem;
    }

    form button {
        flex: 1;
    }

    footer {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--padding);
        text-align: center;
    }

    footer img {
        margin: 0;
    }

    footer ul {
        flex: 1;
        display: flex;
        margin-left: 5rem;
    }

    footer ul li {
        margin-right: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .thedrop {
        flex: 2;
    }

    header {
        padding: var(--largepadding);
    }

    .tab {
        display: grid;
        
    }

    .thetab {
        padding: var(--largepadding);
    }

    .s-one {
        padding: var(--largepadding);
        grid-column-gap: 6rem;
    }

    .s-two {
        grid-column-gap: 6rem;
    }
    

    .s-one img, .s-two img {
        height: 350px
    }

    .s-two img {
        height: 350;
    }

    .s-oneimg, .s-twoimg {
        height: 500px;
        position: relative;
        
    }

    .s-twoimg {
        max-width: 600px;
    }

    .s-onesimple {
        padding-right: 5rem;
    }

    .s-twoinfo {
        padding-left: 5rem;
    }

    .pattern {
        width: 80%;
        height: 300px;
        right: -100px;
    }

    .tab-pattern {
        width: 80%;
        height: 300px;
        left: -100px;
    }


    .s-onesimple h1 {
        margin-bottom: 1.5rem;
        font-size: 45px;
    }

    .s-onesimple p, .features p, .s-twoinfo p {
        line-height: 150%;
        margin-bottom: 1.5rem;
        font-size: 100%;
    }

    .tab-btn {
        line-height: 150%;
        font-size: 100%;
    }

    .s-onelinks a{
        height: 40px;
        padding: 0 10px;
        font-size: 90%;
    }

    .s-onelinks a:nth-child(1) {
        margin-right: 20px;
    }

    .features {
        padding: 0 350px;
    }

    .features h2, .s-twoinfo h2 {
        font-size: 35px;
    }

    .download-grid {
        grid-gap: 35px;
    }

    .thedownloads {
        padding: var(--largepadding);
    }

    .download-grid > div:nth-child(1) {
        margin-bottom: 6rem;
    }

    .download-grid > div:nth-child(2) {
        margin: 3rem 0;
    }

    .download-grid > div:nth-child(3) {
        margin-top: 6rem;
    }

    .thefaqs, .faq {
        padding: 0 300px;
    }

    form {
        padding: 0 20rem;
    }

    footer {
        padding: var(--largepadding);
    }

    footer ul {
        margin-left: 8rem;
    }

    footer ul li {
        margin-right: 4rem;
    }
}